{% load static %}

<div class="tab">
    <button class="tablinks">Filters Here</button>
</div>


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-students" style="background-color: #4cb4c7;">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Students</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_students}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="fees-pending" style="background-color: #7abecc;">
			  	<div class="card-header">
			  		<h5 class="card-title">Fees Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{fees_pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="fees-paid" style="background-color: #7CD1C0;">
			  	<div class="card-header">
			  		<h5 class="card-title">Fees Paid</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{fees_paid}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>



<div class="tabcontent">
    <a class="btn btn-sm btn-info" href="{% url 'add_student' %}">Add Student</a>
    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>PRN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Branch</th>
            <th>Room Number</th>
            <th>Addmission Date</th>
          </tr>
          
          {% for student in students %}
            <tr>
              <td><a href="{% url 'profile' student.id %}">{{student.prn}}</a></td>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>{{student.branch}}</td>
              <td>{{student.room_no}}</td>
              <td>{{student.date_created}}</td>
            </tr>
          {% endfor %}

        </table>
      </div>
</div>